<section>

    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Profile</h5>
                <div class="col">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 100px;height: 80px;"
                    alt="Avatar" />
                    <a href="#" >Uploaddd your photo</a>
                    <button type="button" class="btn btn-warning btn-sm mt-3">Small button</button>
                    <button type="button" class="btn btn-warning btn-sm mt-3">Small button</button>
                  </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
             
              <p class="card-text">I'm Caroline Kassidy and I'm above 20 years and <br> you can send emails to <a>caroline.kassidy@publicis.com.</a> I live in the state of<br>Alaska
            .I like to play hockey,football and reading <br> books.And please send me newaletters. Please<br>
        reach out to me on my mobile number.</p>
              <a href="#" class="btn btn-sucess">I Agree</a>
            </div>
          </div>
        </div>
      </div>
</section>
